<!DOCTYPE html>
<html>
<head>
	<title>E-Clerk</title>
	<meta charset="UTF-8"/>

	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"/>
</head>

<body>
<div id="app"></div>
<script>window.appData = <%- appData %></script>
<script>window.server = 'http://localhost:3000';</script>
<script src="/bundle.js"></script>
</body>
</html>