$teal: #009999;
$teal-dark: #008080;
$teal-light: hsla(180, 100%, 30%, 0.6);
$teal-grey: hsla(180, 100%, 30%, 0.3);

$charcoal: #333333;
$charcoal-light: hsla(0, 0%, 20%, 0.1);
$charcoal-dark: #2f3238;

$iastate_red: #c00;

$white-off: #f2f2f2;

$iastate_grey: #e7e7e7;
$iastate_navtext_grey: #444444;
$iastate_hover_grey: #666;

.bg-grey {
	background: darkgrey;
	opacity: 0.5;
}

